/* NOTEBOOK SIZE 1440px */

@media screen and (max-width: 1440px) {
  #main-container {
    width: 1130px;
    height: 453px;
  }

  #one-side {
    width: 525px;
  }

  h1 {
    font-size: 2.1rem;
  }
}

/* MOBILE SIZE  */

@media screen and (max-width: 375px) {
  /* MAIN CONTAINER */
  #main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 790px;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  /* 1st side */
  #one-side {
    width: 200px;
    margin-top: 9rem;
    margin-left: 1.8rem;
    text-align: center;
  }

  /* Main content */
  .content {
    width: 270px;
  }

  /*  Div of Main heading  */
  .text {
    margin-top: 4.3rem;
    text-align: center;
  }

  h1 {
    font-size: 1.7rem;
    padding-bottom: 15px;
  }

  .main-paragraph {
    font-size: 15px;
    width: 270px;
    text-align: center;
  }

  /* +++++++++++++++++++++++++ */
  /* 2nd side */
  #second-side {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0px 0px;
  }

  #second-side::before {
    border-radius: 10px 10px 0px 0px;
  }

  .reach_section {
    grid-template-columns: auto;
    gap: 1.8rem;
    margin-top: 2rem;
  }

  .reach_section p {
    font-size: 12px;
  }

  li {
    font-size: 1.5rem;
    text-align: center;
  }
  /* FOOTER */
  .attribution {
    margin-bottom: 20px;
  }
}
