* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}

/* Main container */
#main-container {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  width: 1120px;
  height: 450px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  justify-content: center;
}

/* 1st side = text content */
#one-side {
  width: 560px;
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: 4.5rem;
}

/* DIV OF MAIN SECTION => WHOLE CONTENT without image*/
.content {
  width: 400px;
}

/* DIV OF MAIN HEADING */
.text {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 30px;
}

span {
  color: hsl(277, 64%, 61%);
}

/* DIV with -- Main Paragraph and stats  */
.parag-with-stats {
  margin-left: auto;
  margin-right: auto;
}

.main-paragraph {
  width: 350px;
  font-weight: 400;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  text-align: left;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
}

/* REACH SECTION */
.reach {
  display: flex;
  margin-top: 5.5rem;
  margin-left: 2rem;
  line-height: 1.6;
  gap: 5rem;
}

.companies {
  margin-left: -32px;
}

.queries,
.templates {
  margin-left: -20px;
}

h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}

.reach p {
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2nd side = image content */
#second-side {
  width: 560px;
  height: 100%;
  position: relative;
  background-image: url("/images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

#second-side::before {
  content: "";
  background-color: hsl(277, 91%, 33%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 0px 10px 10px 0px;
}

/* FOOTER */
.attribution {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
